@{
    //Layout = null;
    string resourePath = ViewBag.ResoureUrl == null ? "" : ViewBag.ResoureUrl;
}

<h2>
    资源备份下载
</h2>
<div style="padding:5em 50px">

    <div>
        资源备份：
        <input type="button" id="btnBackup" value="资源备份" />
        <p id="pBackup">

        </p>
    </div>
    <div>
        下载地址：

        <div id="dvDownLoadInfo">
            @if (resourePath != "")
            {
                <a href="@resourePath">下载</a>
            }
            else
            {
                <p>未有备份资源</p>
            }
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {

        $("#btnBackup").click(function () {
            PostBackup();
        });

    });

    function PostBackup()
    {
        $.ajax({
            type: 'post',
            url: "/DBMaintenance/ResoureBackup",
            success: function (result) {
                if (result.status == "success") {
                    var html = "<a href='" + result.url + "'>下载</a>"
                    $("#pBackup").html("备份成功");
                    $("#dvDownLoadInfo").html(html);

                }
                else if (result.status == "error") {
                    alert(result.msg);
                }

            },
            error: function () {
                alert("error");
            }
        });
    }

</script>