/*阴影*/
/*圆角*/
/*冷色调*/
.black {
  color: #000; }

.black-20 {
  color: #cccccc; }

.black-50 {
  color: #333333; }

.white {
  color: #fff; }

.background-white {
  background-color: #fff; }

/*暖色调*/
.brand-primary {
  color: #f15c2b; }

.back-brand-primary {
  background-color: #f15c2b; }

.brand-success {
  color: #7db500; }

.back-brand-success {
  background-color: #7db500; }

.brand-warning {
  color: #f18d05; }

.back-brand-warning {
  background-color: #f18d05; }

.brand-danger {
  color: #e54028; }

.back-brand-danger {
  background-color: #e54028; }

.brand-info {
  color: #87318c; }

.back-brand-info {
  background-color: #87318c; }

.back-black {
  background-color: #333333; }

.dark {
  color: #fff; }

.center {
  text-align: center; }

.img-responsive {
  display: inline;
  width: 100%; }

hr.none {
  border: 0; }

/*基本设置*/
/*页面背景色*/
/*默认的文字颜色*/
/*默认的链接颜色*/
/*默认链接hover样式*/
/*文字选择颜色*/
::selection {
  background: #f15c2b;
  color: #fff; }

::-moz-selection {
  background: #f15c2b;
  color: #fff; }

::-webkit-selection {
  background: #f15c2b;
  color: #fff; }

::-ms-selection {
  background: #f15c2b;
  color: #fff; }

::-o-selection {
  background: #f15c2b;
  color: #fff; }

ul.nolist {
  list-style: none; }

@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon/icomoon.eot?-17lp3m');
  src: url('../fonts/icomoon/icomoon.eot?#iefix-17lp3m') format('embedded-opentype'), url('../fonts/icomoon/icomoon.woff?-17lp3m') format('woff'), url('../fonts/icomoon/icomoon.ttf?-17lp3m') format('truetype'), url('../fonts/icomoon/icomoon.svg?-17lp3m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

[class^="icon-moon-"], [class*=" icon-moon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-moon-guan-baby4:before {
  content: "\e600"; }

.icon-moon-guan-baby6:before {
  content: "\e601"; }

.icon-moon-guan-baby5big:before {
  content: "\e602"; }

.icon-moon-filter-i:before {
  content: "\e603"; }

.icon-moon-kaixin-i:before {
  content: "\e604"; }

.icon-moon-qq-space:before {
  content: "\e605"; }

.icon-moon-renren-i:before {
  content: "\e606"; }

.icon-moon-qq-weibo:before {
  content: "\e607"; }

.icon-moon-mail-i:before {
  content: "\e608"; }

.icon-moon-qq-i:before {
  content: "\e609"; }

.icon-moon-Write-i:before {
  content: "\e60a"; }

.icon-moon-share-i:before {
  content: "\e60b"; }

.icon-moon-Comments-1-i:before {
  content: "\e60c"; }

.icon-moon-wexin-i:before {
  content: "\e60d"; }

.icon-moon-sina-weibo:before {
  content: "\e60e"; }

.icon-moon-left-i:before {
  content: "\e60f"; }

.icon-moon-right-i:before {
  content: "\e610"; }

.icon-moon-search-i:before {
  content: "\e611"; }

.icon-moon-Service-i:before {
  content: "\e612"; }

.icon-moon-Set-i:before {
  content: "\e613"; }

.icon-moon-home-i:before {
  content: "\e614"; }

.icon-moon-phone-i:before {
  content: "\e615"; }

.icon-moon-cart-i:before {
  content: "\e616"; }

.icon-moon-my-i:before {
  content: "\e617"; }

.icon-moon-ep-s:before {
  content: "\e618"; }

.icon-moon-ep-b:before {
  content: "\e619"; }

.icon-moon-github:before {
  content: "\e61a"; }

h1, h2, h3, h4, h5, h6 {
  font-family: '微软雅黑', '黑体';
  font-weight: 900;
  color: #000; }

h1 {
  font-size: 1.5em;
  text-align: center; }

h2 {
  font-size: 1.25em; }

.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: none;
  border: none;
  height: 34px;
  outline: none !important; }

.btn-primary {
  background-color: #f15c2b; }

.btn-primary:hover {
  background-color: #f7a68b; }

.btn-primary:focus {
  background-color: #f4815b; }

.button-flat-action {
  background-color: #fff;
  color: #b0afaf;
  border: 1px solid #b0afaf;
  font-family: '微软雅黑', '黑体';
  font-weight: 600; }

input[type='text'] {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none; }

/*.container{
    position:relative;
}
.container::before{
   content:"";
   background-color:#fff;
   left:-200px;
   position: absolute;
    display: block;
    width:500px;
    height:100%;
     -webkit-filter: drop-shadow(-10px 0px 5px rgba(0,0,0,.3));
   
}*/
body {
  font-size: 14px;
  color: #999999;
  font-family: "微软雅黑" "Helvetica Neue", Helvetica, Arial, sans-serif; }

body.index {
  background-color: #efefef; }

#browser-detect {
  margin-bottom: 0; }

.header-content {
  background-color: #fff;
  height: 85px;
  line-height: 85px;
  color: #f15c2b; }
  .header-content #input-search {
    border: 1px solid #f15c2b; }
  .header-content #btn-search {
    width: 120px; }
  .header-content a {
    color: #b0afaf; }
  .header-content a:hover {
    color: #f15c2b; }

.header-nav {
  background: #f15c2b;
  color: #fff;
  margin-bottom: 2em;
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  /* 投影数字顺序依次是：右边 下边 投影模糊大小 */
  /* 内阴影数字顺序依次是：左边 上边 阴影模糊大小 */ }
  .header-nav .navbar {
    background: none;
    border: none;
    margin-bottom: 0;
    -webkit-filter: initial;
    -moz-filter: initial;
    -ms-filter: initial;
    filter: initial;
    -webkit-box-shadow: initial;
    box-shadow: initial; }
    .header-nav .navbar li a {
      color: #fff; }

#index-carousel #index-4-block .col-lg-6 {
  padding: 0 10px 10px 0; }
#index-carousel #index-owl-1 .owl-controls {
  margin-top: -2em; }
  #index-carousel #index-owl-1 .owl-controls .owl-page span {
    opacity: 0.5; }
  #index-carousel #index-owl-1 .owl-controls .owl-page.active span {
    opacity: 0.3; }

.block {
  font-family: '微软雅黑', '黑体';
  height: 0;
  height: auto;
  margin-bottom: 10px;
  background-color: #fff;
  position: relative; }
  .block .text-title {
    color: #b0afaf; }

.animation {
  -webkit-transition: all 1s ease, opacity 1.5s ease;
  transition: all 1s ease, opacity 1.5s ease;
  opacity: 0;
  -webkit-transform: translateY(-100px) rotateX(90deg);
  transform: translateY(-100px) rotateX(90deg); }

.animation-action {
  -webkit-transition: all 1s ease, opacity 1.5s ease;
  transition: all 1s ease, opacity 1.5s ease;
  opacity: 1; }

@media (min-width: 1580px) {
  .container {
    max-width: 1190px; }
 }

@media (max-width: 766px) {
  .block {
    height: auto;
    padding-bottom: 10px; }
    .block .block-type-2 .block-inner-warp:last-child {
      border-bottom: 1px solid #c6c3bd; }

  #side-bar {
    display: none; }

  #index-4-block {
    padding: 15px 5px 15px 15px; }

  .docs-caption {
    margin-top: 1em; }
 }

.block-type-1 {
  background-color: #fff; }
  .block-type-1 .block-caption {
    font-weight: normal;
    padding: 1em;
    margin-top: -23px;
    background-color: #fff;
    position: relative; }
  .block-type-1 .text-title {
    font-size: 18px;
    line-height: 25px;
    height: 52px;
    overflow: hidden; }
  .block-type-1 .text-price {
    font-weight: 900; }

.block-type-2 {
  background-color: #fff; }
  .block-type-2 .block-inner-warp {
    clear: both;
    border-bottom: 1px solid #c6c3bd;
    height: auto;
    overflow: auto; }
  .block-type-2 .block-inner-warp:last-child {
    border: none; }
  .block-type-2 .block-img {
    float: left;
    margin: 5px; }
  .block-type-2 .block-caption {
    font-weight: normal;
    padding: 1em; }
  .block-type-2 .text-title {
    font-size: 14px;
    line-height: 19px;
    height: 40px;
    overflow: hidden; }
  .block-type-2 .text-price {
    font-weight: 900; }

.block-type-4 {
  background-color: #f15c2b;
  color: #fff; }
  .block-type-4 .block-caption {
    font-weight: normal;
    padding: 1em; }
  .block-type-4 .text-title {
    font-size: 18px;
    color: #fff; }
  .block-type-4 .text-price {
    font-weight: 900; }

.block-type-5 {
  color: #000;
  vertical-align: bottom; }
  .block-type-5 div {
    margin-top: 10px; }
  .block-type-5 .price {
    font-size: 4em; }
  .block-type-5 .saved {
    color: #fff;
    background-color: #000; }
  .block-type-5 .cart {
    vertical-align: bottom; }

.block-type-6 {
  padding: 10px;
  height: auto;
  overflow: auto; }
  .block-type-6 .image {
    float: left;
    width: 100px; }
  .block-type-6 .caption {
    float: left;
    margin-left: 10px; }
    .block-type-6 .caption .title {
      position: relative;
      max-height: 5em;
      overflow: hidden;
      display: block; }
    .block-type-6 .caption .addon {
      bottom: 10px;
      position: absolute; }

.section {
  margin: 2em 0; }

.section-header {
  font-family: '微软雅黑', '黑体';
  font-size: 20px;
  font-weight: 900;
  padding: 8px 0; }
  .section-header a {
    color: #000; }
  .section-header small {
    padding-left: 50px;
    color: #9f9f9f; }

#section-4 .section-header {
  color: #e6a802;
  border-top-color: #e6a802; }

#section-5 .section-header {
  color: #fe7a65;
  border-top-color: #fe7a65; }

#section-6 .section-header {
  color: #31b2ae;
  border-top-color: #31b2ae; }

#section-7 .section-header {
  color: #ec7933;
  border-top-color: #ec7933; }

#section-8 .section-header {
  color: #7c2aa6;
  border-top-color: #7c2aa6; }

#section-10 .section-header {
  color: #7c2aa6;
  border-top-color: #7c2aa6; }

#section-11 .section-header {
  color: #7175ba;
  border-top-color: #7175ba; }

#section-12 .section-header {
  color: #ff943d;
  border-top-color: #ff943d; }

#section-13 .section-header {
  color: #32996c;
  border-top-color: #32996c; }

#section-14 .section-header {
  color: #649f18;
  border-top-color: #649f18; }
#section-14 .block-type-1 {
  background-color: #fed287; }
  #section-14 .block-type-1 .text-title {
    color: #000; }
  #section-14 .block-type-1 p {
    margin: 1em 0; }
    #section-14 .block-type-1 p a {
      color: #d59435; }

body.docs {
  background-color: #fff; }

.docs .header-nav {
  -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  -moz-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  -ms-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
  /* 投影数字顺序依次是：右边 下边 投影模糊大小 */
  /* 内阴影数字顺序依次是：左边 上边 阴影模糊大小 */ }

.docs-item {
  clear: both;
  border-bottom: 1px dashed #999999;
  padding: 2em 0; }
  .docs-item h1 {
    text-align: left;
    font-size: 18px;
    color: #000;
    margin-top: 0; }

.docs-item.first h1 {
  font-size: 30px; }
  .docs-item.first h1 a {
    color: #000; }
  .docs-item.first h1 a:hover {
    color: #f15c2b; }

body.doc {
  background-color: #fff; }

.doc-block h1 {
  font-size: 30px;
  text-align: left; }
.doc-block .doc-date {
  font-size: 18px; }
.doc-block .doc-brief {
  background-color: #f3f3f3;
  color: #999999;
  padding: 1em;
  margin: 1em 0; }
.doc-block .doc-content {
  font-family: '微软雅黑', '黑体';
  font-size: 18px;
  color: #000;
  line-height: 1.8em;
  padding: 1em 0;
  border-bottom: 1px dashed #999999; }

.comment-block .comment-textarea textarea {
  width: 100%;
  height: 10em;
  margin-bottom: 2em; }
.comment-block h1 {
  color: #999999;
  font-size: 18px;
  text-align: left;
  border-bottom: 1px dashed #999999;
  padding: 0.5em 0; }
  .comment-block h1 small {
    font-size: 12px; }
.comment-block .comment-item {
  border-bottom: 1px dashed #999999;
  padding: 1em; }
.comment-block .comment-right {
  line-height: 1.8em; }
  .comment-block .comment-right .comment-name {
    float: left;
    font-weight: 900;
    padding-right: 2em;
    color: #f15c2b; }
  .comment-block .comment-right .comment-cotent {
    color: #000; }

/*.products{
    #products-top-carousel{
        margin-top:-1.8em;
    }
    #products-filter{
        .row{
            margin-bottom:1em;
            .title-link,.title-link a{
                color:$black;
            }

        }
        .products-filter-title{
            color:$brand-sub;
            font-weight:900;
        }
        ul,li{
            list-style:none;
            margin:0;
            padding:0;
        }
        li{
            display:inline-block;
            margin:0 2em;
        }
    }

    .products-items{
        border-top:1px solid $textColor;
        padding:2em 0;
    }

    .products-item{
        border-bottom:1px dashed lighten($textColor,30%);
        padding:1em 0;
            .caption{
                h1{
                    font-size:14px;
                    text-align:left;
                    color:$textColor;
                    line-height: 1.5em;
                    height: 3em;
                    overflow-y: hidden;
                }
                h2{
                    font-size:18px;
                }
            }
    }
    .selectBox{
        ul li{
            a{
                text-decoration:none;
            }
            .ItemChecked{
                color:$brand-sub;
            }
            .ItemUnCheck{
                color:$linkColor;
            }
        }

    }



}*/
/*.product{
    background-color:$white;
    #product-section-1{
        background-color:#efefef;
        margin-top:-2em;
        padding:2em 0;
    }
    #product-section-1>.row{
        margin:0;
        padding:0;
    }
    .product-features{
        font-family:'微软雅黑','黑体';
        color:$black;
        font-size:24px;
        div{
            margin-bottom:20px;
        }
    }
    .product-name{        
        font-size:30px;        
    }
    
    .product-price-promotion{
        font-size:60px;      
    }
    .product-features-title{
        width:100px;
        font-size:24px;
    }
    .product-qty{
        input{
            width:2em;
            text-align:center;
        }
    }
    .product-add-to-cart{
        font-size:24px;
        height:50px;
        width:160px;
    }

    .product-discraption-top-bar{
        ul,li{
            margin:0;
            padding:0;
            list-style:none;
        }
        li{
            display:inline-block;
            font-size:20px;
            width:10em;
            text-align:center;
            a{
                color:$black;

            }            
        }
        ul{
            padding-top:2em;
            border-bottom:1px solid $black;
        }
    }
    .product-discraption-content{
        padding:2em;
    }

    
}*/
.assistant-section-1 {
  background-color: #eef8fb;
  margin-top: -2em; }
  .assistant-section-1 .container {
    padding: 0; }

.assistant-section-2 {
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-bottom: 2em; }
  .assistant-section-2 h2 {
    color: #fff; }
  .assistant-section-2 ul, .assistant-section-2 li {
    padding: 0;
    margin: 0; }
  .assistant-section-2 ul {
    margin: 0 auto; }

.assistant-section-2-item-1 {
  background-color: #24abe0;
  margin-bottom: -10000px;
  padding-bottom: 10000px; }
  .assistant-section-2-item-1 .assistant-section-2-item-1-inner {
    padding: 2em; }

.assistant-section-2-item-2 {
  background-color: #93d556;
  margin-bottom: -10000px;
  padding-bottom: 10000px; }
  .assistant-section-2-item-2 .assistant-section-2-item-2-inner {
    padding: 2em; }

.assistant-section-2-item-3 {
  background-color: #fefbd5;
  margin-bottom: -10000px;
  padding-bottom: 10000px;
  color: #000;
  line-height: 3em; }
  .assistant-section-2-item-3 input[type="text"] {
    width: 100%;
    background-color: #fefbd5;
    border: 1px solid #000;
    height: 2em;
    vertical-align: middle; }
  .assistant-section-2-item-3 .assistant-section-2-item-3-inner {
    padding: 2em; }

.solution-0-section-1, .solution-1-section-1, .solution-2-section-1, .solution-3-section-1 {
  overflow: hidden;
  margin-bottom: 2em;
  position: relative; }
  .solution-0-section-1 h1, .solution-1-section-1 h1, .solution-2-section-1 h1, .solution-3-section-1 h1 {
    text-align: left; }
  .solution-0-section-1 .solution-0-section-1-image, .solution-0-section-1 .solution-1-section-1-image, .solution-0-section-1 .solution-2-section-1-image, .solution-0-section-1 .solution-3-section-1-image, .solution-1-section-1 .solution-0-section-1-image, .solution-1-section-1 .solution-1-section-1-image, .solution-1-section-1 .solution-2-section-1-image, .solution-1-section-1 .solution-3-section-1-image, .solution-2-section-1 .solution-0-section-1-image, .solution-2-section-1 .solution-1-section-1-image, .solution-2-section-1 .solution-2-section-1-image, .solution-2-section-1 .solution-3-section-1-image, .solution-3-section-1 .solution-0-section-1-image, .solution-3-section-1 .solution-1-section-1-image, .solution-3-section-1 .solution-2-section-1-image, .solution-3-section-1 .solution-3-section-1-image {
    padding: 0; }
    .solution-0-section-1 .solution-0-section-1-image .hint:after, .solution-0-section-1 .solution-1-section-1-image .hint:after, .solution-0-section-1 .solution-2-section-1-image .hint:after, .solution-0-section-1 .solution-3-section-1-image .hint:after, .solution-1-section-1 .solution-0-section-1-image .hint:after, .solution-1-section-1 .solution-1-section-1-image .hint:after, .solution-1-section-1 .solution-2-section-1-image .hint:after, .solution-1-section-1 .solution-3-section-1-image .hint:after, .solution-2-section-1 .solution-0-section-1-image .hint:after, .solution-2-section-1 .solution-1-section-1-image .hint:after, .solution-2-section-1 .solution-2-section-1-image .hint:after, .solution-2-section-1 .solution-3-section-1-image .hint:after, .solution-3-section-1 .solution-0-section-1-image .hint:after, .solution-3-section-1 .solution-1-section-1-image .hint:after, .solution-3-section-1 .solution-2-section-1-image .hint:after, .solution-3-section-1 .solution-3-section-1-image .hint:after {
      padding: 15px 20px; }
    .solution-0-section-1 .solution-0-section-1-image .hotspot, .solution-0-section-1 .solution-1-section-1-image .hotspot, .solution-0-section-1 .solution-2-section-1-image .hotspot, .solution-0-section-1 .solution-3-section-1-image .hotspot, .solution-1-section-1 .solution-0-section-1-image .hotspot, .solution-1-section-1 .solution-1-section-1-image .hotspot, .solution-1-section-1 .solution-2-section-1-image .hotspot, .solution-1-section-1 .solution-3-section-1-image .hotspot, .solution-2-section-1 .solution-0-section-1-image .hotspot, .solution-2-section-1 .solution-1-section-1-image .hotspot, .solution-2-section-1 .solution-2-section-1-image .hotspot, .solution-2-section-1 .solution-3-section-1-image .hotspot, .solution-3-section-1 .solution-0-section-1-image .hotspot, .solution-3-section-1 .solution-1-section-1-image .hotspot, .solution-3-section-1 .solution-2-section-1-image .hotspot, .solution-3-section-1 .solution-3-section-1-image .hotspot {
      color: #fff;
      position: absolute;
      display: block;
      -webkit-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      -moz-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      -ms-filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.3));
      box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 5px;
      /* 投影数字顺序依次是：右边 下边 投影模糊大小 */
      /* 内阴影数字顺序依次是：左边 上边 阴影模糊大小 */ }
  .solution-0-section-1 .solution-0-section-1-caption, .solution-0-section-1 .solution-1-section-1-caption, .solution-0-section-1 .solution-2-section-1-caption, .solution-0-section-1 .solution-3-section-1-caption, .solution-1-section-1 .solution-0-section-1-caption, .solution-1-section-1 .solution-1-section-1-caption, .solution-1-section-1 .solution-2-section-1-caption, .solution-1-section-1 .solution-3-section-1-caption, .solution-2-section-1 .solution-0-section-1-caption, .solution-2-section-1 .solution-1-section-1-caption, .solution-2-section-1 .solution-2-section-1-caption, .solution-2-section-1 .solution-3-section-1-caption, .solution-3-section-1 .solution-0-section-1-caption, .solution-3-section-1 .solution-1-section-1-caption, .solution-3-section-1 .solution-2-section-1-caption, .solution-3-section-1 .solution-3-section-1-caption {
    background-color: #f15c2b;
    margin-bottom: -10000px;
    padding-bottom: 10000px;
    color: #fff; }
    .solution-0-section-1 .solution-0-section-1-caption h2, .solution-0-section-1 .solution-1-section-1-caption h2, .solution-0-section-1 .solution-2-section-1-caption h2, .solution-0-section-1 .solution-3-section-1-caption h2, .solution-1-section-1 .solution-0-section-1-caption h2, .solution-1-section-1 .solution-1-section-1-caption h2, .solution-1-section-1 .solution-2-section-1-caption h2, .solution-1-section-1 .solution-3-section-1-caption h2, .solution-2-section-1 .solution-0-section-1-caption h2, .solution-2-section-1 .solution-1-section-1-caption h2, .solution-2-section-1 .solution-2-section-1-caption h2, .solution-2-section-1 .solution-3-section-1-caption h2, .solution-3-section-1 .solution-0-section-1-caption h2, .solution-3-section-1 .solution-1-section-1-caption h2, .solution-3-section-1 .solution-2-section-1-caption h2, .solution-3-section-1 .solution-3-section-1-caption h2 {
      color: #fff;
      margin: 0;
      padding: 1em; }
    .solution-0-section-1 .solution-0-section-1-caption li, .solution-0-section-1 .solution-1-section-1-caption li, .solution-0-section-1 .solution-2-section-1-caption li, .solution-0-section-1 .solution-3-section-1-caption li, .solution-1-section-1 .solution-0-section-1-caption li, .solution-1-section-1 .solution-1-section-1-caption li, .solution-1-section-1 .solution-2-section-1-caption li, .solution-1-section-1 .solution-3-section-1-caption li, .solution-2-section-1 .solution-0-section-1-caption li, .solution-2-section-1 .solution-1-section-1-caption li, .solution-2-section-1 .solution-2-section-1-caption li, .solution-2-section-1 .solution-3-section-1-caption li, .solution-3-section-1 .solution-0-section-1-caption li, .solution-3-section-1 .solution-1-section-1-caption li, .solution-3-section-1 .solution-2-section-1-caption li, .solution-3-section-1 .solution-3-section-1-caption li {
      margin-bottom: 1em; }

.solution-0-section-1 .hotspot-1 {
  top: 20%;
  right: 68%; }
.solution-0-section-1 .hotspot-2 {
  top: 50%;
  right: 15%; }
.solution-0-section-1 .hotspot-3 {
  top: 55%;
  right: 75%; }
.solution-0-section-1 .hotspot-4 {
  top: 80%;
  right: 68%; }

.solution-1-section-1 .hotspot-1 {
  top: 30%;
  right: 14%; }
.solution-1-section-1 .hotspot-2 {
  top: 35%;
  right: 8%; }
.solution-1-section-1 .hotspot-3 {
  top: 47%;
  right: 13%; }
.solution-1-section-1 .hotspot-4 {
  top: 65%;
  right: 38%; }

.solution-2-section-1 .hotspot-1 {
  top: 38%;
  right: 57%; }
.solution-2-section-1 .hotspot-2 {
  top: 38%;
  right: 12%; }
.solution-2-section-1 .hotspot-3 {
  top: 60%;
  right: 16%; }

.solution-3-section-1 .hotspot-1 {
  top: 45%;
  right: 59%; }
.solution-3-section-1 .hotspot-2 {
  top: 40%;
  right: 50%; }
.solution-3-section-1 .hotspot-3 {
  top: 62%;
  right: 38%; }

.about-content {
  background: none;
  background-color: #fff;
  padding-bottom: 3em; }
  .about-content .breadcrumb {
    background: none;
    padding: 1em 0 0 0; }
  .about-content h2 {
    margin-top: 2.5em;
    margin-bottom: 1.5em; }
  .about-content p {
    line-height: 2em; }
  .about-content ul, .about-content li {
    margin: 0;
    padding: 0; }
  .about-content ul:not(.nolist) {
    padding-left: 1em; }

body.combo {
  background-color: #ebebeb; }

#combo-section-2 .block {
  margin-top: 30px; }

.order-table thead {
  background-color: #f2f2f2;
  color: #000;
  text-align: left; }
.order-table th {
  text-align: center; }
.order-table tbody > tr > td {
  vertical-align: middle;
  text-align: center; }

#footer {
  background-color: #393939;
  font-size: 12px;
  color: #bebdbd; }
  #footer ul, #footer li {
    padding: 0;
    margin: 0;
    list-style: none; }
  #footer ul {
    margin-bottom: 1em; }
  #footer li:first-child {
    color: #fff;
    font-size: 14px;
    font-weight: 900; }
  #footer #footer-400 {
    font-family: '微软雅黑', '黑体';
    font-weight: 900;
    font-size: 30px;
    margin-top: 10px; }

#side-bar {
  width: 88px;
  background-color: #fff;
  text-align: center;
  color: #b9b9b9;
  position: fixed;
  top: 200px;
  right: 0; }
  #side-bar a {
    color: #b0afaf; }
  #side-bar a:hover {
    text-decoration: none;
    color: #f15c2b; }
  #side-bar ul, #side-bar li {
    list-style: none;
    margin: 0;
    padding: 0; }
  #side-bar li {
    border-bottom: solid 1px #eee;
    padding: 10px 0; }
  #side-bar li:last-child {
    background-color: #a6a6a6; }
    #side-bar li:last-child a {
      color: #fff; }
    #side-bar li:last-child a:hover {
      text-decoration: none;
      color: #f15c2b; }

.aside .aside-block {
  margin-bottom: 3em; }
  .aside .aside-block .aside-block-title {
    text-align: left;
    font-size: 18px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    font-weight: normal;
    color: #000;
    font-family: '微软雅黑', '黑体';
    margin-bottom: 5px; }
    .aside .aside-block .aside-block-title small {
      font-size: 12px;
      vertical-align: baseline;
      line-height: 18px; }
  .aside .aside-block h1 {
    font-size: 18px;
    text-align: left; }
    .aside .aside-block h1 a {
      color: #000; }
  .aside .aside-block .aside-list {
    border-top: 1px dashed #999999;
    margin-top: 10px;
    padding-top: 10px;
    line-height: 2em; }
    .aside .aside-block .aside-list ul, .aside .aside-block .aside-list li {
      margin: 0;
      padding: 0; }
    .aside .aside-block .aside-list li {
      margin-left: 15px; }
    .aside .aside-block .aside-list small {
      float: right;
      clear: right; }
.aside .aside-block-type-1 .row {
  border-bottom: 1px dashed #999999;
  padding-bottom: 1.5em; }

/*by zzj*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

.block-type2 {
  padding-top: 0px;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc; }

.product-b {
  margin-top: -5px; }
  .product-b a {
    display: block;
    height: 80px; }
  .product-b li {
    float: left;
    width: 100%;
    height: 90px;
    border-top: 1px solid #e6e6e6;
    position: relative; }
    .product-b li img {
      width: 100px;
      float: left;
      margin-right: 10px; }

.event-block {
  background: #fff;
  position: relative;
  border-bottom: 1px solid #e6e6e6; }

.event-block img {
  width: 100%; }

.event-info {
  padding-top: 10px;
  white-space: nowrap;
  width: 50%;
  overflow: hidden; }
  .event-info span {
    font-size: 14px;
    line-height: 22px;
    color: #000; }
    .event-info span span {
      color: #999999; }
    .event-info span font {
      display: inline-block;
      color: #1a1a1a;
      position: absolute;
      bottom: 5px;
      font-weight: bold; }

ul {
  list-style: outside none none; }

.float-menu {
  position: fixed;
  z-index: 5;
  right: 25px; }

.float-menu-child {
  width: 90px;
  height: 70px;
  background: #fff;
  text-align: center;
  margin-bottom: 1px;
  color: #666666;
  cursor: pointer; }
  .float-menu-child i {
    font-size: 2em;
    position: relative;
    line-height: 1.5em;
    top: 0.1em; }

.float-menu-ask {
  background: #73bc41;
  color: #fff; }

.float-menu ul {
  margin-bottom: 0; }

.float-menu-top {
  height: 30px;
  line-height: 30px; }

.float-menu-bottom {
  height: 30px;
  background: #999999;
  color: #fff;
  line-height: 30px; }

.modal-header {
  border-bottom: 0px; }

.inquiry {
  cursor: pointer; }

.cover-img {
  position: relative; }

.cover-characters {
  position: absolute;
  bottom: 10px;
  padding: 10px;
  color: #fff; }

.section-hr {
  border-bottom: solid 2px #7a43b6;
  text-align: center;
  font-weight: 200;
  color: #000; }

.block-type-1 .btn-primary {
  float: right; }

a {
  color: gray; }

a:hover {
  color: #f15c2b;
  text-decoration: none; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding-right: 5px;
  padding-left: 5px; }

#footer .container {
  padding-top: 3em;
  padding-bottom: 2em; }

.products #products-top-carousel {
  margin-top: 0; }

.dropdown-menu-1 {
  position: absolute;
  z-index: 10;
  left: 0;
  display: none; }

.container .row .img-top {
  margin-top: 10px; }

.container .row .img-left {
  margin: 10px -5px 0px -5px; }

.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto; }

.section .row .block-caption a {
  color: #333333; }

#section-4 {
  border-top: 2px solid #73bc41; }

#section-4 .section-header a {
  color: #73bc41; }

#section-4 .block-caption {
  background-color: #73bc41;
  color: #fff; }

#section-4 .block-caption a {
  color: #fff; }

#section-4 .block-caption .text-title {
  font-size: 25px;
  height: 52px;
  line-height: 45px;
  overflow: hidden; }

#section-4 .block-caption .text-class {
  line-height: 30px;
  font-size: 14px; }

#section-4 .block-caption .text-class a {
  padding: 0 5px; }

#section-4 .block-resolve {
  background-color: #fed287; }

#section-4 .block-resolve .text-title {
  font-size: 25px;
  color: #000;
  height: 52px;
  line-height: 45px;
  overflow: hidden; }

#section-4 .block-resolve a {
  color: #c57a00; }

#section-4 .block-caption .text-price a {
  padding: 0 5px;
  font-weight: 200; }

.section .row .span12 {
  padding: 10px; }

.event-news .event-info {
  padding-top: 10px;
  white-space: normal;
  width: 50%;
  max-height: 70px;
  overflow: hidden; }
  .event-news .event-info span {
    font-size: 14px;
    line-height: 20px;
    color: #000; }
    .event-news .event-info span span {
      color: #999999; }
    .event-news .event-info span font {
      display: inline-block;
      color: #1a1a1a;
      position: absolute;
      bottom: 5px;
      font-weight: bold; }

@media (min-width: 992px) {
  .event-block .cover-small {
    padding: 14px 10px; }

  #section-4 .block-caption .text-price a {
    font-size: 12px;
    padding: 0 2px; }
 }

@media (min-width: 1200px) {
  .event-block .cover-small {
    padding: 18px 10px; }

  #section-4 .block-caption .text-price a {
    font-size: 14px;
    padding: 0 5px; }
 }

@media (min-width: 620px) and (max-width: 992px) {
  .event-block .cover-small {
    padding: 29px 10px; }
 }

@media (max-width: 620px) {
  .event-block .cover-small {
    padding: 18px 10px; }
 }

.cover {
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden; }

.cover-small {
  width: 40%;
  float: left;
  max-width: 100px;
  padding: 18px 10px; }

/*# sourceMappingURL=epipe.css.map */