<ul>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-Plastic"></i>&nbsp;&nbsp;&nbsp;塑料管道</li>
            <li class="item-with-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/PEguan-457">PE管</a></li>
                    <li class="item"><a href="/Home/List/PVCguan">PVC管</a></li>
                    <li class="item"><a href="/Home/List/PP-Rguan">PP-R管</a></li>
                    <li class="item"><a href="/Home/List/PPguan">PP管</a></li>
                </ul>
                <ul class="item-sub">
                    <li class="item-sub-left">
                        <ul>
                            <li class="item-without-sub">
                                <ul class="items">
                                    <li class="item title"><a href="/Home/List/PEguan-457">PE管</a></li>
                                    <li class="item"><a href="/Home/List/PEgeishui">PE给水</a></li>
                                    <li class="item"><a href="/Home/List/PEranqi">PE燃气</a></li>
                                    <li class="item"><a href="/Home/List/shuangbibowenguan">双壁波纹管</a></li>
                                    <li class="item"><a href="/Home/List/zhongkongbichanraoguan">中空壁缠绕管</a></li>
                                    <li class="item"><a href="/Home/List/PE-RT">PE-RT</a></li>
                                    <li class="item"><a href="/Home/List/PE-XB">PE-XB</a></li>
                                </ul>
                            </li>
                            <li class="item-without-sub">
                                <ul class="items">
                                    <li class="item title"><a href="/Home/List/PVCguan">PVC管</a></li>
                                    <li class="item"><a href="/Home/List/PVC-Udianlitaoguan">PVC-U电力套管</a></li>
                                    <li class="item"><a href="/Home/List/PVCshibiguan">PVC实壁管</a></li>
                                </ul>
                            </li>
                            <li class="item-without-sub">
                                <ul class="items">
                                    <li class="item title"><a href="/Home/List/PP-Rguan">PP-R管</a></li>
                                    <li class="item"><a href="/Home/List/PP-Rlengreshuiguan">PP-R冷热水管</a></li>
                                    <li class="item"><a href="/Home/List/PP-Rnamikangjunguan">PP-R纳米抗菌管</a></li>
                                </ul>
                            </li>
                            <li class="item-without-sub">
                                <ul class="items">
                                    <li class="item title"><a href="/Home/List/PPguan">PP管</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="item-sub-right">
                        <img src="Content/images/brand-1.png" class="img-responsive" alt="华瀚" />
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-Complex"></i>&nbsp;&nbsp;&nbsp;复合管道</li>
            <li class="item-with-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/gangsufuheguan-482">钢塑复合管</a></li>
                    <li class="item"><a href="/Home/List/lvsufuheguan">铝塑复合管</a></li>
                </ul>
                <ul class="item-sub">
                    <li class="item-without-sub">
                        <ul class="items">
                            <li class="item title"><a href="/Home/List/gangsufuheguan-482">钢塑复合管</a></li>
                            <li class="item"><a href="/Home/List/HDPEsugangchanraoguan">HDPE塑钢缠绕管</a></li>
                            <li class="item"><a href="/Home/List/gangdaizengqiangluoxuanbowenguan">钢带增强螺旋波纹管</a></li>
                        </ul>
                    </li>
                    <li class="item-without-sub">
                        <ul class="items">
                            <li class="item title"><a href="/Home/List/lvsufuheguan">铝塑复合管</a></li>

                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-Metal"></i>&nbsp;&nbsp;&nbsp;金属管道</li>
            <li class="item-without-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/buxiugangguan">不锈钢管</a></li>
                    <li class="item"><a href="/Home/List/zhutieguan">铸铁管</a></li>
                    <li class="item"><a href="/Home/List/wufenggangguan">无缝钢管</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-Accessories"></i>&nbsp;&nbsp;&nbsp;管道配件</li>
            <li class="item-with-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/lianjiejian">连接件</a></li>
                    <li class="item"><a href="/Home/List/guangu">管箍</a></li>
                    <li class="item"><a href="/Home/List/famen">阀门</a></li>
                    <li class="item"><a href="/Home/List/qita">其他</a></li>
                </ul>
                <ul class="item-sub">
                    <li class="item-without-sub">
                        <ul class="items">
                            <li class="item title"><a href="/Home/List/lianjiejian">连接件</a></li>
                            <li class="item"><a href="/Home/List/zhitong">直通</a></li>
                            <li class="item"><a href="/Home/List/wantou">弯头</a></li>
                            <li class="item"><a href="/Home/List/santong">三通</a></li>
                            <li class="item"><a href="/Home/List/sitong">四通</a></li>
                        </ul>
                    </li>
                    <li class="item-without-sub">
                        <ul class="items">
                            <li class="item title"><a href="/Home/List/famen">阀门</a></li>
                            <li class="item"><a href="/Home/List/qiufa">球阀</a></li>
                            <li class="item"><a href="/Home/List/diefa">蝶阀</a></li>
                            <li class="item"><a href="/Home/List/jiezhifa">截止阀</a></li>
                        </ul>
                    </li>
                    <li class="item-without-sub">
                        <ul class="items">
                            <li class="item title"><a href="qita">其他</a></li>
                            @*<li class="item"><a href="#">密封圈</a></li>*@
                            <li class="item"><a href="/Home/List/xiangjiaotao">橡胶套</a></li>
                            <li class="item"><a href="/Home/List/dutou">堵头</a></li>
                            <li class="item"><a href="/Home/List/guanka">管卡</a></li>
                            <li class="item"><a href="/Home/List/fapaoxiangjiaoban">发泡橡胶板</a></li>
                            @*<li class="item"><a href="#">管箍</a></li>*@
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-material"></i>&nbsp;&nbsp;&nbsp;管道原材料</li>
            <li class="item-without-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/guandaoyuanliao">管道材料</a></li>
                    <li class="item"><a href="/Home/List/semu">色母</a></li>
                    <li class="item"><a href="/Home/List/zaishengliao">再生料</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="main-item">
        <ul>
            <li class="main-title"><i class="icon-Equipment"></i>&nbsp;&nbsp;&nbsp;管道设备</li>
            <li class="item-without-sub">
                <ul class="items">
                    <li class="item"><a href="/Home/List/juyixisugangchanraoguanshengchanxian">塑钢缠绕管生产线</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
